@import "bourbon";
@import "normalize";

/*!
 *
 * main.scss
 * =========
 *
 */

@include font-face(EntypoSocial, '../fonts/entypo-social');

//
// VARIABLES
//=====================================


$lt-gray: #e7eff6;
$md-gray: #b2b9bb;
$dk-gray: #44494c;
$yellow:  #eac76b;

$v-ratio: 14.4%; // 1400/202

$sm-size: 480px;
$md-size: 800px;
$lg-size: 1200px;

@mixin min-width-mq($res) {
  @media screen and ( min-width: $res ) {
    @content;
  }
}

//
// BASE
//=====================================

* { // Box sizing component
	@include box-sizing(border-box);
}


// Selection Styles
::-moz-selection {color: $dk-gray; background-color: $yellow; text-shadow: none}
     ::selection {color: $dk-gray; background-color: $yellow; text-shadow: none}


html { // Defaults
	font: 300 100%/1.5 'Open Sans', sans-serif;
	color: $dk-gray;
	background: $md-gray;
}

h1,h2,h3,h4,h5,h6 {
	@include prefixer(text-rendering, optimizeLegibility, webkit moz spec);
	letter-spacing: -.04em;
	margin-top: 0;
}

h1 { font-size: 2.4em }
h2 { font-size: 1.8em }
h3 { font-size: 1.4em }
h4 { font-size: 1.2em }
h5 { font-size: 1.1em }
h6 { font-size: 1.0em }

a { // Fancy links
	position: relative;
	@include transition(.3s);
	color: #6B8AEA;

	&:focus,
	&:hover { color: #000; }
	&:active { top: .07em; }
}

.row { // Grid system
	display: block;
	padding: 4%;
	@include clearfix;

	&.center {
		text-align: center;
	}
	&.short {
		padding: 2%;
	}
	&.toedge {
		padding: 5% 0;
	}
	.full {
		@include clearfix;
	}
	.one-third {
		@include min-width-mq($md-size) {
			width: 31.33%;
			margin: 0 1%;
			float: left;
		}
	}
	.one-fourth {
		@include min-width-mq($md-size) {
			width: 50%;
			float: left;
		}
		@include min-width-mq($md-size) {
			width: 25%;
			float: left;
		}
	}
}

.project {

	img {
		max-width: 100%;
		height: auto;
		margin: 0 auto;
		vertical-align: top;
	}
}


.inline-list { // Inline list component
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		@include inline-block;
		margin: 0;
		padding: 1%;
	}
}


.logo {
	margin: 0;

	img {
		max-width:  7em;
		max-height: 7em;
	}
}


.lead {
	color: white;
	font: {
		size: 200%;
		weight: 200;
	}
	text-shadow: 0 0 20px #000;
	margin: 0;
}


.social {
	display: table;
	width: 100%;
	font: {
		family: EntypoSocial;
		size: 3em;
	}
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;

	a {
		display: table-cell;
		width: 1em;
		line-height: 1;
		border-radius: 50%;
		color: $lt-gray;
		background: #666;
		text-decoration: none;
		text-align: center;
		vertical-align: middle;
		opacity: .3;

		&:hover,
		&:focus {
			opacity: .9;
		}
		&:active {
			top: .1em;
		}
	}
	#behance:hover   { background: #1769ff; }
	#dribbble:hover  { background: #ea4c89; }
	#pinterest:hover { background: #cb2027; }
	#linkedin:hover  { background: #007bb6; }
	#twitter:hover   { background: #00aced; }
	#instagram:hover { background: #517fa4; }
	#github:hover    { background: #333333; }
}


.btn {
	display: inline-block;
	border: 1px solid rgba(black,.1);
	border-radius: .3em;
	padding: 0 1em;
	line-height: 2.5;
	box-shadow:
		inset 0 1px 1px  0   rgba(white,.3),
		      0 2px 3px -1px rgba(black,.3);
	background-color: $yellow;
	@include background-image(
		linear-gradient( rgba(white,.1), rgba(black,.1) )
	);
	color: $dk-gray;
	font: {
		size: 110%;
		weight: 300;
	}
	text-shadow: 0 1px 1px rgba(white,.2);
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: none;
		color: tint($dk-gray, 10%);
		background-color: tint($yellow, 25%);
	}
	&:active {
		top: .1em;
		color: shade($dk-gray, 25%);
		box-shadow: inset 0 3px 3px 0 rgba(black,.5);
		background-color: shade($yellow, 25%);
	}
}


.circle-center {
	display: table;
	float: left;
	margin-right: 1em;

	@include min-width-mq($md-size) {
		float: none;
		margin: 0 auto .5em;
	}

	.circle-icon {
		display: table-cell;
		width: 2em;
		line-height: 2;
		border-radius: 50%;
		color: $lt-gray;
		background-color: $dk-gray;
		vertical-align: middle;
		font: {
			size: 3em;
			weight: 700;
		}
		text: {
			align: center;
			indent: .1em;
		}
		letter-spacing: .1em;
	}
}
.icon-body {
	overflow: hidden;
	text-align: left;

	@include min-width-mq($md-size) {
		margin: 0 auto;
		overflow: visible;
		text-align: inherit;
	}
	.icon-head {
		margin: 0 0 .5em;
	}
}

//
// SECTIONS
//=====================================

%fold { // Fold items height: 100%
	height: 100%;
}

html {
	width: 100%;
	@extend %fold;

	body {
		width: 100%;
		@extend %fold;

		.container {
			@extend %fold;
			max-width: $lg-size;
			margin: 0 auto;
			@include clearfix;
		}

		.fold-wrapper {
			display: table;
			width: 100%;
			@extend %fold;
			background: #000 url(../img/ChristmasSunset.jpg) no-repeat 50% 50%;
			background-size: cover;

			.fold-item {
				display: table-cell;
				vertical-align: middle;
				@extend %fold;
				padding-top: $v-ratio;
				padding-bottom: $v-ratio;
				background:
					url(../img/t_white.svg) no-repeat 50% 0%,
					url(../img/u_white.svg) no-repeat 50% 100%;
				background-size: 110%;
			}
		}
	}
}

#directive {
	color: $dk-gray;
	background-color: white;
	@include background-image(
		linear-gradient( transparent, rgba(black,.1) )
	);
}

#about {
	color: $dk-gray;
	background-color: $yellow;
	@include background-image(
	  linear-gradient( rgba(white,.1), transparent )
	);
}

#portfolio {
	padding-bottom: $v-ratio + 5%;
	color: $lt-gray;
	background: $dk-gray no-repeat 50% 100%;
	background-size: 110%;
	@include background-image(
	  url(../img/u_gray.svg),
	  linear-gradient( rgba(white,.1), transparent )
	);
}

#calltoaction {
	color: $dk-gray;
}

#footer {
	font-size: 75%;
	color: $dk-gray;
}