@import "compass";
@import "normalize";

//
// VARIABLES
//=====================================

$white: #fff;
$light: #eee;
$dark: #444;
$cyan: #0cc;
$teal: #099;
$light-cyan: #3ff;

//
// BASE
//=====================================

*, *:before, *:after { // Box sizing component
	@include box-sizing(border-box);
}

html,
input,
button,
fieldset {
	font: 300 100%/1.5 'source-sans-pro', sans-serif;
	color: $dark;
}
html {
	background: $light;
}

html { // Vertical center component
	display: table;
	
	&, body {
		width: 100%;
		height: 100%;
	}
	body {
		display: table-cell;
		vertical-align: middle;
	}
}

body {
	width: 100%;
	overflow-y: scroll;
	@include transition(1s);
	background: #000 url(../img/sean_bg.jpg) no-repeat 50% 50%;
	@include background-size(cover);
}

.wrapper {
	background: $white;
	box-shadow: inset 1px 0 1px -1px #666, inset -1px 0 1px -1px #666;
}

.black {
	color: $light;
	background: $dark;
}

.row {
	@include clearfix;
}


.inline-list {
	@include clearfix;
	margin: 0;
	padding: 0;
	display: block;
	
	li {
		display: inline-block;
		list-style: none;
		padding: 1%;
	}
}


.padding {
	padding: 10% 25%;
}

.logo {
	max-width: 200px;
	max-height: 200px;
}

.center {
	margin: 0 auto;
	text-align: center;
}

.lead {
	color: $light;
	font-size: 200%;
	font-weight: 200;
	text-shadow: 0 0 20px #000, 0 0 5px #000;
}

.social {
	font-size: 2em;
	
	a {
		display: inline-block;
		padding: .28em .15em .02em;
		@include border-radius(100%);
		@include text-shadow(0 -1px 1px $teal);
		vertical-align: baseline;
		color: $cyan;
		background: $light;
		line-height: 1;
		
		&:hover {
			color: $light-cyan;
		}
		&:active {
			color: $teal;
		}
	}
}

.btn {
	@include inline-block;
	@include border-radius(.3em);
	padding: 1% 3%;
	color: $white;
	background: $cyan;
	border: 1px solid $teal;
	text-decoration: none;
	
	&.large {
		font-size: 130%;
		font-weight: 200;
	}
}