<div id="about" class="jumbotron jumbotron-fullscreen">
  <div class="jumbotron-fullscreen-inner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="section-title">Process</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <h2><i class="fa fa-cogs"></i> Brainstorm</h2>
          <p>Each project is assessed on an individual basis. This is where I determine what solution will be best for your project.</p>
        </div>
        <div class="col-sm-4">
          <h2><i class="fa fa-paint-brush"></i> Create</h2>
          <p>The project is designed &amp; developed precisely. The client is brought in at each stage of the design process.</p>
        </div>
        <div class="col-sm-4">
          <h2><i class="fa fa-rocket"></i> Deploy</h2>
          <p>Next, the website will be deployed live for everyone to see. The finishing touches will be applied &amp; the website will be launched.</p>
        </div>
      </div>
    </div>
  </div>
</div>
