<div id="calltoaction" class="jumbotron jumbotron-fullscreen">
  <div class="jumbotron-fullscreen-inner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="text-center"><a href="mailto:seandrickson@gmail.com" class="btn btn-default btn-jumbo">Contact Me</a></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p class="text-center lighter-text">or get connected:</p>
          <ul class="list-inline text-center social-links">
            <li>
              <a href="http://be.net/seandrickson" class="social-behance">
                <i class="fa fa-fw fa-behance"></i>
              </a>
            </li>
            <li>
              <a href="http://pinterest.com/seandrickson" class="social-pinterest">
                <i class="fa fa-fw fa-pinterest"></i>
              </a>
            </li>
            <li>
              <a href="http://linkedin.com/in/seanhendrickson" class="social-linkedin">
                <i class="fa fa-fw fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="http://twitter.com/seandrickson" class="social-twitter">
                <i class="fa fa-fw fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="http://github.com/seandrickson" class="social-github">
                <i class="fa fa-fw fa-github-alt"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p class="text-center lighter-text">
              Copyright &copy; 2012 &ndash; {{ site.time | date: '%Y' }} Sean Hendrickson. All Rights Reserved &mdash; Hosted using <a href="http://git.io/seandrickson">Github Pages</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
