<div id="header" class="jumbotron jumbotron-fullscreen">
  <div class="jumbotron-fullscreen-inner">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3 col-center">
          <img src="img/seandrickson.png" alt="Seandrickson" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          <h1 class="section-title">Web Design &amp; Development</h1>
          <p class="lead">Building Websites From Start To Finish</p>
        </div>
      </div>
    </div>
  </div>
</div>
