@import "compass";
@import "normalize";

//
// VARIABLES
//=====================================

$lt-gray: #eee;
$dk-gray: #444;
$dd-gray: #333;
$og-cyan: #0af;
$yellow:  #ffa;

//
// BASE
//=====================================

*, *:before, *:after { // Box sizing component
	@include box-sizing(border-box);
}

html {
	font: 300 100%/1.5 'Open Sans', sans-serif;
	color: $dk-gray;
	background: $lt-gray;
}

html,
body,
.wrapper,
.opener-wrapper,
.opener {
	height: 100%;
}

body {
	overflow: auto;
	overflow-y: scroll;
}

a {
	@include transition(.3s);
}

.wrapper {
	max-width: 75em;
	margin: 0 auto;
	background: white;
}

.opener-wrapper { // Vertical center component
	display: table;
	width: 100%;
	
	.opener {
		display: table-cell;
		vertical-align: middle;
		background: black url(../img/LA_Skyline_Header.jpg) repeat-x fixed 50% 50%;
		@include background-size(75%);
	}
}

.white {
	color: $dk-gray;
	background: white;
}

.black {
	color: $lt-gray;
	background: $dd-gray;
}

.blue {
	color: $dk-gray;
	background: adjust-lightness($og-cyan, -30%);
}

.row {
	max-width: 1200px;
	padding: 1% 0;
	
	&.center {
		text-align: center;
	}
	
	&:after {
		content: '';
		display: table;
		clear: both;
	}
	
	&.grid {	
		margin-left: -3%;

		.one-third {
			display: inline-block;
			padding-left: 3%;
			width: 33.33333%;
		}
	}
}

.inline-list {
	@include inline-block-list;
	
	li {
		padding: 1%;
	}
}

.section {
	border: 1px solid rgba(black,.3);
	border-width: 0 1px;
}

.padding {
	padding: 5% 20%;
}

.logo {
	margin: 0;
	
	img {
		max-width: 200px;
		max-height: 200px;
	}
}

.lead {
	color: $lt-gray;
	font-size: 200%;
	font-weight: 200;
	@include text-shadow(0 0 20px #000, 0 0 20px #000, 0 0 20px #000);
	margin: 0;
}

.social {
	font-size: 1.7em;
	
	a {
		position: relative;
		@include inline-block;
		color: black;
		line-height: 1;
		opacity: .5;
		
		&:hover,
		&:focus {
			color: adjust-lightness($yellow, 15%);
			opacity: 1;
		}
		&:active {
			color: adjust-lightness($yellow, -15%);
			top: .1em;
			opacity: 1;
		}
	}
}

.btn {
	@include inline-block;
	@include border-radius(.3em);
	@include box-shadow(0 1px 2px rgba(black,.5));
	padding: 0 1.5em;
	line-height: 3;
	color: $dd-gray;
	background: $yellow;
	border: 1px solid rgba(black,.3);
	text-decoration: none;
	vertical-align: middle;
	
	&.large {
		font-size: 130%;
		font-weight: 200;
	}
	&:hover,
	&:focus {
		background: adjust-lightness($yellow, 15%);
		@include box-shadow(inset 0 1px 2px rgba(white,.3), inset 0 -1px 2px rgba(black,.3));
	}
	&:active {
		background: adjust-lightness($yellow, -15%);
	}
}

.circle-center {
	display: table;
	margin: 0 auto;

	.circle-icon {
		display: table-cell;
		width: 2em;
		height: 2em;
		vertical-align: middle;
		text-align: center;
		font-size: 3em;
		font-weight: 700;
		letter-spacing: .1em;
		text-indent: .1em;
		color: white;
		background: adjust-lightness($dd-gray, 10%);
		@include border-radius(100%);
	}
}