@import "compass";
@import "normalize";

//
// VARIABLES
//=====================================

$white:   #fff;
$lt-gray: #eee;
$og-gray: #999;
$dk-gray: #444;
$lt-cyan: #3cf;
$og-cyan: #0af;
$dk-cyan: #09c;

//
// BASE
//=====================================

*, *:before, *:after { // Box sizing component
	@include box-sizing(border-box);
}

html,
input,
button,
fieldset {
	font: 300 100%/1.5 'source-sans-pro', sans-serif;
	color: $dk-gray;
}
html {
	background: $lt-gray;
}

html { // Vertical center component
	display: table;
	
	&, body {
		width: 100%;
		height: 100%;
	}
	body {
		display: table-cell;
		vertical-align: middle;
	}
}

body {
	width: 100%;
	overflow-y: scroll;
	@include transition(1s);
	background: #000 url(../img/sean_bg.jpg) no-repeat 50% 50%;
	@include background-size(cover);
}

.wrapper {
	background: $white;
	@include box-shadow(inset 1px 0 1px -1px #666, inset -1px 0 1px -1px #666);
}

.black {
	color: $lt-gray;
	background: $dk-gray;
}

.row {
	@include clearfix;
}

.inline-list {
	@include inline-block-list;
	
	li {
		padding: 1%;
	}
}


.padding {
	padding: 10% 25%;
}

.logo {
	max-width: 200px;
	max-height: 200px;
}

.center {
	margin: 0 auto;
	text-align: center;
}

.lead {
	color: $lt-gray;
	font-size: 200%;
	font-weight: 200;
	@include text-shadow(0 0 20px #000, 0 0 20px #000, 0 0 20px #000);
}

.social {
	font-size: 2em;
	
	a {
		@include inline-block;
		vertical-align: top;
		color: $og-cyan;
		line-height: 1;
		
		&:hover {
			color: $lt-cyan;
		}
		&:active {
			color: $dk-cyan;
		}
	}
}

.btn {
	@include inline-block;
	@include border-radius(.3em);
	padding: 1% 3%;
	color: $white;
	background: $og-cyan;
	border: 1px solid $dk-cyan;
	text-decoration: none;
	
	&.large {
		font-size: 130%;
		font-weight: 200;
	}
	&:hover {
		background: $lt-cyan;
	}
	&:active {
		background: $dk-cyan;
	}
}