@import "compass";
@import "normalize";

//
// VARIABLES
//=====================================

$white:   #fff;
$lt-gray: #eee;
$og-gray: #999;
$dk-gray: #444;
$dd-gray: #333;
$lt-cyan: #3cf;
$og-cyan: #0af;
$dk-cyan: #09c;

//
// BASE
//=====================================

*, *:before, *:after { // Box sizing component
	@include box-sizing(border-box);
}

html {
	font: 300 100%/1.5 'Open Sans', sans-serif;
	color: $dk-gray;
	background: $lt-gray;
}

html,
body,
.wrapper,
.opener-wrapper,
.opener {
	height: 100%;
}

body {
	overflow: auto;
	overflow-y: scroll;
	@include transition(1s);
}

.wrapper {
	max-width: 75em;
	margin: 0 auto;
	background: $white;
}

.opener-wrapper { // Vertical center component
	display: table;
	width: 100%;
	
	.opener {
		display: table-cell;
		vertical-align: middle;
		background: #000 url(../img/sean_bg.jpg) no-repeat 50% 50%;
		@include background-size(cover);
		text-align: center;
	}
}

.white {
	color: $dk-gray;
	background: $white;
}

.black {
	color: $lt-gray;
	background: $dd-gray;
}

.row {
	max-width: 1200px;
	padding: 1% 0;
	
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.inline-list {
	@include inline-block-list;
	
	li {
		padding: 1%;
	}
}

.section {
	border: 1px solid rgba(0,0,0,.3);
	border-width: 0 1px;
}

.padding {
	padding: 5% 20%;
}

.logo {
	margin: 0;
	
	img {
		max-width: 200px;
		max-height: 200px;
	}
}

.lead {
	color: $lt-gray;
	font-size: 200%;
	font-weight: 200;
	@include text-shadow(0 0 20px #000, 0 0 20px #000, 0 0 20px #000);
	margin: 0;
}

.social {
	font-size: 2em;
	
	a {
		@include inline-block;
		color: $og-cyan;
		line-height: 1;
		
		&:hover {
			color: $lt-cyan;
		}
		&:active {
			color: $dk-cyan;
			top: .1em;
		}
	}
}

.btn {
	@include inline-block;
	@include border-radius(.3em);
	padding: 1.2% 3% 1%;
	color: $white;
	background: $og-cyan;
	border: 1px solid $dk-cyan;
	text-decoration: none;
	vertical-align: top;
	
	&.large {
		font-size: 130%;
		font-weight: 200;
	}
	&:hover {
		background: $lt-cyan;
	}
	&:active {
		background: $dk-cyan;
	}
}
