@import 'bootstrap';
@import 'overrides';
@import 'entypo';

@images: "../img";

::selection { color: white; background-color: black; text-shadow: none }

html, body { height: 100%; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  letter-spacing: .04em;
}

.section-title {
  font-weight: 100;
}

.col-center {
  .center-block;
  float: none;
}

.jumbotron-fullscreen {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #222;
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
  p {
    font-weight: 300;
  }
  &-inner {
    display: table-cell;
    vertical-align: middle;
  }
}

  #header {
    color: black;
    background-image: url('@{images}/bg_sunset.jpg');
  }
  #about {
    color: white;
    text-shadow: 0 0 1em rgba(0,0,0,.3);
    background-image: url('@{images}/bg_clouds.jpg');
  }
  #portfolio {
    color: white;
    text-shadow: 0 0 1em rgba(0,0,0,1);
    background-image: url('@{images}/bg_night.jpg');
  }
  #calltoaction {
    color: white;
    text-shadow: 0 0 2em rgba(0,0,0,1);
    background-image: url('@{images}/bg_tree.jpg');
  }
  #footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    p { font-size: .85em; }
    a {
      color: white;
      text-decoration: underline;
      &:hover, &:focus {
        color: white;
      }
    }
  }

// .lighter-text {}

// Mega Button
.btn-jumbo {
  font-size: 1.2em;
  font-weight: 900;
  padding: 0 1em;
  line-height: 2;
  border: 3px solid;
  border-radius: .2em;
  color: #fff;
  background-color: transparent;
  box-shadow: inset 0 0 2em rgba(0,0,0,.5), 0 0 2em rgba(0,0,0,.5);

  &:hover, &:focus, &:active, &.active {
    color: black;
    background-color: white;
    border-color: white;
    text-shadow: none;
    box-shadow: 0 0 2em rgba(0,0,0,.5);
  }
}

// Circular Social Buttons
.social-links {
  a {
    box-sizing: content-box;
    display: inline-block;
    width: 3em;
    line-height: 1;
    border: 3px solid;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    text-align: center;
    box-shadow: inset 0 0 2em rgba(0,0,0,.5), 0 0 2em rgba(0,0,0,.5);

    &:hover,
    &:focus {
      border-color: white;
      background: white;
      box-shadow: 0 0 2em rgba(0,0,0,.5);
      i { text-shadow: none; }
    }
    &:active {
      top: .1em;
    }
  }
}
  .social-behance   { &:hover, &:focus { color: #1769ff; } }
  .social-pinterest { &:hover, &:focus { color: #cb2027; } }
  .social-linkedin  { &:hover, &:focus { color: #007bb6; } }
  .social-twitter   { &:hover, &:focus { color: #00aced; } }
  .social-github    { &:hover, &:focus { color: #333333; } }

