---
---

//
// Variable Overrides
// --------------------------------------------------

$images: "../img";

$sun1: #446D83; // blue
$sun2: #F4ED73; // yellow
$sun3: #F3A963; // lt. orange
$sun4: #F06443; // orange
$sun5: #8C3F2D; // dk. orange

$clo1: #001E5B; // dk. blue
$clo2: #03408A; // blue
$clo3: #086AA7; // lt. blue
$clo4: #21A1BE; // teal
$clo5: #D7ECF1; // lt. teal

$nig1: #8E8E8E; // gray
$nig2: #F2F2F2; // white
$nig3: #414141; // dk. gray
$nig4: #BEBEBE; // lt. gray
$nig5: #0C0C0C; // black

$tre1: #BEC1BC; // lt. gray
$tre2: #BDAB3B; // yellow
$tre3: #267200; // lt. green
$tre4: #0E4000; // green
$tre5: #112502; // dk. green



html, body { height: 100%; }

body {
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}

h1, .h1 {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: italic;
}

h2, .h2 {
  font-weight: 600;
}

.col-center {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.jumbotron-fullscreen {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #222;
  background-size: cover;
  background-position: 50% 100%;
  p { font-weight: 100; }
  &-inner {
    display: table-cell;
    vertical-align: middle;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
  }
}

  #header {
    color: black;
    background-image: url('#{$images}/bg_sunset.jpg');
    &:before {
      background-color: rgba($sun4, .8);
    }
  }
  #about {
    color: white;
    background-image: url('#{$images}/bg_clouds.jpg');
    &:before {
      background-color: rgba($clo2, .8);
    }
  }
  #portfolio {
    color: white;
    background-image: url('#{$images}/bg_night.jpg');
    &:before {
      background-color: rgba($nig3, .8);
    }
  }
  #calltoaction {
    color: white;
    background-image: url('#{$images}/bg_tree.jpg');
    font-size: .9em;
    &:before {
      background-color: rgba($tre3, .8);
    }
  }
  #footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    p { font-size: .85em; }
    a {
      color: white;
      text-decoration: underline;
      &:hover, &:focus {
        color: white;
      }
    }
  }

// Mega Button
.btn-jumbo {
  font-size: 1.2em;
  font-family: "Playfair Display";
  font-weight: 900;
  font-style: italic;
  padding: 0 1em;
  line-height: 2;
  border: 2px solid;
  border-radius: .2em;
  color: #fff;
  background-color: transparent;

  &:hover, &:focus, &:active, &.active {
    color: black;
    background-color: white;
    border-color: white;
  }
}

// Circular Social Buttons
.social-links {
  a {
    display: inline-block;
    width: 2em;
    height: 2em;
    font-size: 1.5em;
    border: 2px solid;
    border-radius: 50%;
    color: white;
    vertical-align: middle;

    &:hover,
    &:focus {
      border-color: white;
      background: white;
    }
    &:active {
      top: .1em;
    }
  }
  .fa { vertical-align: bottom; }
}
  .social-behance   { &:hover, &:focus { color: #1769ff; } }
  .social-pinterest { &:hover, &:focus { color: #cb2027; } }
  .social-linkedin  { &:hover, &:focus { color: #007bb6; } }
  .social-twitter   { &:hover, &:focus { color: #00aced; } }
  .social-github    { &:hover, &:focus { color: #333333; } }

.thumbnail-nobg {
  padding: 0;
  background: none;
  border: 0;
  border-radius: 0;
  > img {
    border: 2px solid #fff;
    border-radius: 5px;
  }
}
