<!DOCTYPE html>
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Seandrickson</title>
	<meta name="decription" content="Sean Hendrickson's Web Design &amp; Development">

	<meta name="p:domain_verify" content="ee98c8ad6030e0e6dc52f46b90ca6d6f"/>

	<!-- Trying to figure out this site? -->
	<!-- You can get a better idea here: -->
	<!-- http://git.io/seandrickson      -->

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,700">
	<style>{% include css/main.css %}</style>
</head>
<body>
	<article class="container">
		{{ content }}
	</article>
	<script>{% include js/main.min.js %}</script> 
	</body>
</html>
